.container{
    margin-top: 15px;
    margin-bottom: 40px;
    background-color: rgb(255, 247, 235);
}
#date{
    color: black;
    padding-left: 20px;
    padding-bottom: 20px;
}
.info-user{
    padding-left: 10px;
    padding-bottom: 20px;
}
.orders-title{
    font-size: 30px;
    padding-left: 20px;
    border-top: 1px solid rgb(0, 0, 0);
    padding-top: 20px;
}
.orders{
    border-top: 1px solid #ccc;
    padding-top: 20px;
} 
.orders-info{
    padding-left: 20px;
    display: grid;
    grid-template-columns: 140px 1fr;
}
#size{
    color: rgb(107, 107, 107);
}
#info-title{
    font-size: 20px;
    color: black;
}
#money{
    color: red;
    font-size: 23px;
}
#price,u{
    font-size: 15px;
    color: red;
}
.tong-tien{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    height: 60px;
    justify-content: space-around;
}
.tong-tien p{
    line-height: 60px;
   
}
#tong-tien-title{
    color: black;
}
.status{
    height: 60px;
    border-bottom: 1px ridge #ccc;
    display: flex;
    justify-content: space-between;
}
.status p{
    line-height: 60px;
    color: rgb(0, 0, 0);
    padding: 0 20px;

}
#info-user-title{
    margin-top: 20px;
    color: black;
    font-size: 18px; 
}
#info-user-name{
    color: black;
    font-size: 15px; 
}
#info-user-status{
    color: rgb(255, 0, 0);
}
.info-user{
    padding-left: 20px;
}
#ths{
    text-align: center;
    padding: 20px;
    color: black;
}