.container{
    margin-top: 50px;
    display: flex;
    margin-bottom: 100px;
}

.content-left{
    flex: 1;
    margin: 10px 0;
    margin-right: 20px;
}
.content-left-title{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.title-name p{
    font-weight: 600;
    color: black;
    padding-top: 5px;
}
.content-left-title-img a img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.nav-bar{
    padding: 10px 0;

    margin: 10px;
}
.nav-bar ul li{
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
    padding: 10px ;
}
.nav-bar ul li:hover{
    background-color: blanchedalmond;
    border: none;
    border-radius: 5px;
}
.content-right{
    border: 1px solid black;
    border-radius: 5px;
    flex: 4;
}
.content-right-title{
    border-bottom: 1px solid #ccc;
    margin: 20px;
    padding-bottom: 31px;
}
.content-right-title p{
    color: black;
    font-size: 20px;
    padding-left: 10px;
}
.content-right-title span{
    padding-left: 10px;
    color: black;
}
#btn-submit{
    border: none;
    width: 100px;
    background-color: rgb(0, 183, 255);
    height: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
}
#btn-submit:hover{
    background-color:rgba(0, 255, 255, 0.993) ;
    border-radius: 5px;
    color: crimson;
    transition: ease 0.6s;
}
